.btn {
    margin: 10px;
}

input {
    border-radius: 4px;
}

img {
    max-width: 850px;
    max-height: auto;
}

h1 {
    margin: 15px;
    text-align: center;
}

.image-group {
    border: 1px #ddd;
    width: 900px;
    margin: 10px 20px;
}

.comment-label {
    margin-right: 5px;
}

li {
    margin-top: 5px;
}

.image-group:hover {
    background-color: #eee;
}